html, body {
  margin: 0;
  padding: 0;
  margin-left: 0%;
    padding-left: 0%;
  height: 100%;
}

.container {
    position: cover;
    object-fit: cover; 
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 0%;
    padding-right: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 0%;
    padding-top: 0%;
    align-items: top;
  }
  
  .overlay {
    position: cover;
    width: 100%;
  }
  

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", Arial, sans-serif;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 25%;
    width: 85%;
    height: 30%;
    transform: translate(-50%, -50%); 
    padding: 200px;
    text-align: center;
    backdrop-filter: blur(20px);
  }
