<body>
<div class="container">
    <div class="overlay">
      <img [src]="imageUrl" alt="Image">
      <div class="text">
        <h2>GOA</h2>
        <p>Description</p>
      </div>
    </div>
  </div>
</body>
  
<!-- <main>
    <form action="">
        <div class="flex-container" id="wrapper">
            <div class="text" >
                <div id="input-box1">
                    <h1>Hi</h1>
                </div>
                <h1>Welcome to <br> <b><i>DREAM DESTINY</i></b></h1>
                <h2>"Find Your Bliss in Every Journey."</h2>
            </div>
            
        </div>
        
    </form>
    <br>
</main><br><br><br> -->