<div class="image-container">
    <img src="https://images.unsplash.com/photo-1503220317375-aaad61436b1b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYXZlbGxpbmd8ZW58MHx8MHx8fDA%3D" alt="Image" class="image">
    <div class="overlay">
      <h1>ABOUT US</h1>
      <p>Our DREAM DESTINY provides up-to-date weather forecasts for the chosen destination, helping travelers prepare for various weather conditions during their trip.</p>
    </div>
  </div>
  

  <h1>EASY PLANNING FOR YOUR NEXT TRIP..!!.WE PLAN YOU BOOK..!!</h1>
<ol>
    <li >
        <div class="icon"><i class="fa-solid fa-home"></i></div>
        <div class="title">Step 1</div>
        <div class="descr">Open our website, while you are at your home.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-users"></i></div>
        <div class="title">Step 2</div>
        <div class="descr">Select your category.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-helicopter"></i></div>
        <div class="title">Step 3</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-plane"></i></div>
        <div class="title">Step 4</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-rocket"></i></div>
        <div class="title">Step 5</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-bus"></i></div>
        <div class="title">Step 6</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
    </li>
</ol>
