<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4" *ngFor="let couple of couples"><br><br>
                <div class="card">
                    <div class="face front">
                        <img class="card-img-top" [src]="couple.imgsrc" alt="Card image">
                        <h3><b>{{couple.name}}</b></h3>
                    </div>
                    <div class="face back">
                        <h3><b>{{couple.flipname}}</b></h3><br>
                        <p>{{couple.description}}</p>
                        <!-- <div class="link"><a href="#">Book</a>
        </div> -->
        <button class="btn btn-primary" (click) = "addToCart(couple)">Add to Wishlist</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>