*{
    margin: 0;
    padding: 0;
    padding-top: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper{
    width: 100%;
    height: 500px;
    background: url('https://cdn.wallpapersafari.com/78/25/JU9bGD.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-left:30px;
    margin-top: 0px;
    padding-top: 0%;
    flex-direction: row;
    align-items: top;
}

#wrapper h1{
    
    /* text-align: center; */
    margin-left: 70%;
    margin-top: 200px;
    color: rgb(14, 8, 8);
    /* text-shadow: 2px 2px #333;   */
    font-size:xx-large;
}
#wrapper h2{
    font-size: medium;
    text-align: center;
    margin-left: 58%;
    margin-top: 13px;
    color: rgb(233, 178, 75);
    text-shadow: 2px 2px #333;  
}
/* 
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800); */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", Arial, sans-serif;
  /* background: #7f9ead; */
}

.card {
  position: relative;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 30px 50px;
  background: #fff;
  cursor: pointer;
  margin-right: 30px;
}

.card:hover {
  height: 320px;
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-80px);
  z-index: 99;
}

img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.content {
  padding: 10px 20px;
  text-align: center;
  transform: translateY(-450px);
  opacity: 0;
  transition: 0.3s;
}

.card:hover > .content {
  opacity: 1;
  transform: translateY(-180px);
}

.content h2 {
  color: #7f9ead;
}


#input-box1{
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 80px;
}

.flex-container {
    display: flex;
  }
  
.flex-container > div {
    height: 20%;
    width: 25%;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    border-radius: 20px;
  }

.flex-container .btn{
    width: 100%;
    height: 60px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 700;
    margin-top: 20px;
}

.flip-card {
    width: 340px;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    border-radius: 20px;
    float: left;
    margin: 15px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 20px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 20px;
  }

  .flip-card-back {
    background-color: white;
    color: #333;
    transform: rotateY(180deg);
    padding: 10px;
    text-align: justify;
  }

  .flip-card-back .btn{
    width: 100%;
    height: 60px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: white;
    font-weight: 700;
    margin-top: 20px;
} 


#hyd{
    /* background: url('assets/Images/frontpage.jpeg') no-repeat; */
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px black;
}
#goa{
    /* background: url('assets/Images/Mumbai.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px black;
    align-items: center;
}
#Bangalore{
    /* background: url('assets/Images/login.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px black;
    align-items: center;
}
#tamil{
    
    /* background: url('assets/Images/login.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
}
#kerala{
  /* background: url('assets/Images/login.jpg') no-repeat; */
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  

footer{
  background-color: #333;
  display: flex;
  width: 100%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.para {
    color: black;
    padding: 50px;
    padding-top: 5px;
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
    font-size: 20px;
  }
  
  .quote {
    color: rgb(238, 64, 102);
    font-size: 18px;
  }

  .quote{
    color: rgb(244, 167, 99);
    font-size: x-large;
  }

  .rights{
    background-color: #b3aeae;
    width: 126%;
  }
