<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
  </head>
  
  <main>
      <form action="">
          <div class="flex-container" id="wrapper">
              <div id="input-box1">
                  <h1>Welcome to <br> <b><i>DREAM DESTINY</i></b></h1>
                  <h2>"Find Your Bliss in Every Journey."</h2>
              </div>
          </div>
      </form>
      <br>
  </main><br><br><br>
  
  <div class="quote" align="center"><b>{{ randomQuote }}</b></div>
  
  <body>
      <div class="card">
          <div class="imgbox">
              <img src="assets/images/friends.avif"/>
          </div>  
          <div class="content"><br><br><br><br><br><br>
              <h2>Safe Journey</h2>
              <p><i>"Making memories with friends: the best souvenir of all."</i></p><br>
              <!-- <button class="btn btn-info">WANDER</button> -->
              <button class="btn btn-info" (click)="wander()">WANDER</button>
          </div>
      </div>
  
      <div class="card">
          <div class="imgbox">
              <img src="../assets/images/couple.jpg"/>
          </div>
          
          <div class="content"><br><br><br><br><br><br>
              <h2>Safe Journey</h2>
              <p><i>"With you, every journey is a love story."</i></p><br>
              <!-- <button class="btn btn-info">FLY</button> -->
              <button class="btn btn-info" (click)="fly()">FLY</button>
          </div>
      </div>
      
      <div class="card">
          <div class="imgbox">
              <img src="assets/images/family.jpg"/>
          </div>
          
          <div class="content"><br><br><br><br><br><br>
              <h2>Safe Journey</h2>
              <p><i>"In the embrace of family, every destination feels like home."</i></p><br>
              <button class="btn btn-info" (click)="explore()">EXPLORE</button>
          </div>
      </div>
  </body>
   
    <div class="para">
      
      <h4 class="quote"><b>“Live, travel, adventure, bless, and don’t be sorry.”</b> </h4><br> <br>
      <p>Travel provides a learning experience like no other. It inspires people to seek out new places, keeping their
          pool of knowledge constantly topped up.<b> It’s a great way to not only learn new things and immerse
              yourself in a new culture – but it also provides a constant urge to continue learning.</b><br><br>
          Many students who go on educational trips say they learn a lot from even the smallest of gestures. Often,
          the difference between their current destination and their home country can be so stark that absorbing new
          knowledge is the only way to keep up. </p>
      </div>
  <br><br><br><br><br><br>
  
  <!-- <div class="wrapper">
    <div class="carousel">
        <div><img src="https://picsum.photos/300/200?random=1">
            <img src="https://picsum.photos/300/200?random=2">
            <img src="https://picsum.photos/300/200?random=3"><br><br>
            <img src="https://picsum.photos/300/200?random=4">
            <img src="https://picsum.photos/300/200?random=5">
            <img src="https://picsum.photos/300/200?random=6">
        </div>
    </div>
  </div> <br><br><br><br> -->
  
  <!-- <div class="wrapper">
        <h2>Slick Carousel Example</h2>
        <div class="carousel">
          <div><img src="https://picsum.photos/300/200?random=1"></div>
          <div><img src="https://picsum.photos/300/200?random=2"></div>
          <div><img src="https://picsum.photos/300/200?random=3"></div>
          <div><img src="https://picsum.photos/300/200?random=4"></div>
          <div><img src="https://picsum.photos/300/200?random=5"></div>
          <div><img src="https://picsum.photos/300/200?random=6"></div>
        </div>
  </div> -->
  
  <footer >
    
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h5 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i> <b>Why DREAM DESTINY ?</b></h5>
            <p> &nbsp; &nbsp;In our Dream Destiny, wanderlust meets reality, and every journey is an adventure waiting to unfold. At our core, we believe in the transformative power of exploration, the thrill of discovery, and the joy of shared experiences. Whether you're seeking the bustling streets of vibrant cities, the serenity of remote landscapes, or the cultural richness of historic sites, our curated collection of destinations has something for every traveler.</p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">ABOUT</h6>
              <p>Our DREAM DESTINY provides up-to-date weather forecasts for the chosen destination, helping travelers prepare for various weather conditions during their trip.</p>
            </div>
    
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i>Hyderabad, Telangana</p>
            <p><i class="fas fa-envelope me-3"></i>dreamdestiny5793&#64;gmail.com</p>
            <br>
            <p><i class="fas fa-phone me-3"></i> + 91 96526 69255</p>
            <p><i class="fas fa-print me-3"></i> + 91 91210 45660</p>
          </div>
          <div class="rights">
              <p align="center" class="rights">© 2024 OurDREAMDESTINY. All rights reserved. <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact Us</a></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
    </footer>