<body>
    <div class="image-container">
        <div class="overlay">
          <h1><b>PONDICHERRY</b></h1>
         </div>
      </div>
    </body><br><br>
    
    
    <div class="info"><br><br><br><br>
        <h3 style="color: rgb(117, 76, 84);"><b>CULTURES YOU SHOULD KNOW BEFORE YOU VISIT</b></h3><br>
    <h4>Visitor Information:
      Adiyogi and Dhyanalinga premises are open from 6:00 am to 8:00 pm.</h4><br>
    <p><b>Adiyogi Vastram:</b>
      Devotees can offer a vastram to Adiyogi by tying a black cloth on one of the trishuls surrounding Adiyogi.</p>
  <p><b>Yogeshwar Linga Offerings:</b>
      As a way to become open to the energies of Yogeshwar Linga, devotees can make an offering of water and neem leaves to the linga.</p>
  <p><b>Purnima:</b>
      Every full moon night, Adiyogi is open until 12:00 am and a music concert is offered in front of Adiyogi from 10:30 pm - 11:30 pm.</p>
  <p><b>Adiyogi Pradakshina:</b>
      An opportunity to become receptive to the Grace of Adiyogi, which can fuel one’s striving towards ultimate liberation.</p>
  <p><b>Amavasya:</b>
      Every new moon day, traditional offerings are made to the Yogeshwar Linga by people from the surrounding villages. There is also an offering of traditional music and dance, followed by distribution of prasadam.</p><br><br><br><br>
    </div>
    
    
    <div class="background"></div>
        <div class="background-texture"></div>
    
        <section class="carousel">
          <h2 class="categories__title">Famous places you should visit nearby:</h2>
          <div class="carousel__container">
            <div class="carousel-item">
                <img
                  class="carousel-item__img"
                  src="https://static.sadhguru.org/d/46272/1649127457-isha_sadhguru_centers_dhyanalinga_20.jpg"
                  alt="people"
                />
                <div class="carousel-item__details">
                  <div class="controls">
                    <span class="fas fa-play-circle"></span>
                    <span class="fas fa-plus-circle"></span>
                  </div>
                  <h5 class="carousel-item__details--title">Dhyanalinga Temple</h5>
                  <h6 class="carousel-item__details--subtitle">0.2 km from Adiyogi Shiva</h6>
                </div>
              </div>

              <div class="carousel-item">
                <img
                  class="carousel-item__img"
                  src="https://static.sadhguru.org/d/46272/1648543822-iso_headers_mobile_suryakund.jpg"
                  alt="people"
                />
                <div class="carousel-item__details">
                  <div class="controls">
                    <span class="fas fa-play-circle"></span>
                    <span class="fas fa-plus-circle"></span>
                  </div>
                  <h5 class="carousel-item__details--title">Surya Kund</h5>
                  <h6 class="carousel-item__details--subtitle" >Date and Duration</h6>
                </div>
              </div>
              
              <div class="carousel-item">
                <img
                  class="carousel-item__img"
                  src="https://static.sadhguru.org/d/46272/1648544294-theerthakund-1.jpg"
                  alt="people"
                />
                <div class="carousel-item__details">
                  <div class="controls">
                    <span class="fas fa-play-circle"></span>
                    <span class="fas fa-plus-circle"></span>
                  </div>
                  <h5 class="carousel-item__details--title">Chandra Kund</h5>
                  <h6 class="carousel-item__details--subtitle">Timings: 8:30AM - 10:30PM</h6>
                </div>
              </div>
            <div class="carousel-item">
              <img
                class="carousel-item__img"
                src="https://yatramantra.com/wp-content/uploads/2019/08/Marudhamalai_Temple-780x588.png"
                alt="people"
              />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title"  style="font-size: 18px;">Marudamalai Temple</h5>
                <h6 class="carousel-item__details--subtitle">Timings: 9AM - 5PM</h6>
              </div>
            </div>
            <div class="carousel-item">
              <img
                class="carousel-item__img"
                src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/09/c8/55/10/kovai-kutralam-falls.jpg?w=1200&h=1200&s=1"
                alt="people"
              />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title" style="font-size: 15px;">Kovai Kutralam Water Falls</h5>
                <h6 class="carousel-item__details--subtitle">Open 24 Hours</h6>
              </div>
            </div>
            
    
            <div class="carousel-item">
              <img
                class="carousel-item__img"
                src="https://static.sadhguru.org/d/46272/1626099393-velliangiri-mountains-3.jpg"
                alt="people"
              />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title" style="font-size: 18px;">Velliangiri Mountains</h5>
                <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
              </div>
            </div>
          </div>
        </section>