

<body>
    <div class="register-container">
        <h2>Login</h2>
        <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>

                <div class="form-group">
                    <!-- <label for="emailId">Email</label> -->
                    <input type="email" id="emailId" name="emailId" placeholder="EmailId" [(ngModel)]="formData.emailId" #emailId="ngModel"
                    required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                    <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
                      <div *ngIf="emailId.errors?.['required']">Email is required</div>
                      <div *ngIf="emailId.errors?.['pattern']">Please enter a valid email address</div>
                    </div>
                  </div>
    
            <div class="form-group">
                <!-- <label for="password">Password</label> -->
                <input type="password" id="password" name="password" placeholder="Password"  [(ngModel)]="formData.password" #password="ngModel"
                       required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                       <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors?.['required']">Password is required</div>
                        <div *ngIf="password.errors?.['minlength']">Password must be at least 8 characters long</div>
                        <div *ngIf="password.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character</div>
                    </div>
                </div>
            
    
            <div class="captcha">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
                </ngx-recaptcha2>
            </div><br>
    
            <button type="submit">LOGIN</button> &nbsp;
            New User? <a href="login" target="_blank">SignUp</a>
        </form>
    </div>
    </body>