/* body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg');
    background-size:cover;
    background-position: center;
    min-height: 89vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
.h1{
    align-items: center;
}
td{
    align-items: center;
}

.container {
    width: 440px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    
    
}

.input-group {
    margin-bottom: 15px;
    background-color: transparent;
    
}
input {
    width: 1000%;
    padding: 3px;
    box-sizing: border-box;
    background-color: transparent;
    left: 20%;
    width: 100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 10px 20px 10px 10px;
  }


.btn-primary {
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
} */

.register-container {
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
    margin: auto;
    /* background-image: url('https://www.pixelstalk.net/wp-content/uploads/images6/Travel-HD-Wallpaper-Free-download.jpg'); */
    background-repeat: no-repeat;
    background-size: cover; 
  }
   body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg');
    background-size:cover;
    background-position: center;
    min-height: 93vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
  /* body{
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url('https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } */
  h2 {
    color: #0e0c0c;
    margin-bottom: 20px;
    text-size-adjust: 34px;
  }
  .form-group {
    margin-bottom: 15px;
    text-align: left;
    color: #070606;
  }
  ::placeholder {
    color: white;
    text-align: center;
}
option[disabled] {
    color: #cf2b2b; /* Change to the color you desire */
  }

  /* label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #070606;
  } */
  select {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #070606;
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;

    left: 20%;
    width: 100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    color: transparent;
    padding: 10px 20px 10px 10px;
  }
/* .captcha{
    align-items: center;
    left: 404px;
} */
  input {
    width: 1000%;
    padding: 3px;
    box-sizing: border-box;
    background-color: transparent;
    left: 20%;
    width: 100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 10px 20px 10px 10px;
  }
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: #45a049;
  }
  .form-group{
    color: #070606;
  }
  /* .form-group{
    left: 20%;
    width: 100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    color: transparent;
    padding: 10px 20px 10px 10px;
  } */