<!-- <div class="container">
    <div class="row" >
    <div class="col-lg-4" *ngFor="let package of packages"><br><br>
        <div class="flip-card">
            <div class="flip-card-inner">
                    <div class="flip-card-front" style="background-color: blueviolet;" id="Manali">
                        <div class="center">
                            <h2>{{package.name}}</h2>
                            <img class="card-img-top" [src]="package.imgsrc" alt="Card image" style="width:100%; margin-top: 5px; height:350px; ">
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <h2>{{package.flipname}}</h2>
                        &nbsp;
                        <p>{{package.description}}</p>
                        <button type="submit" class="btn" [routerLink]="['/hyderabad']">Explore</button>
                    </div>
                </div>
            </div>
         </div>
        </div>
</div> -->

<!-- <body>
    <div class="maincontainer">
        <div class="col-lg-4" *ngFor="let package of packages"><br><br>
      <div class="thecard">

        <div class="thefront">
            <img class="card-img-top" [src]="package.imgsrc" alt="Card image" style="width:100%; margin-top: 5px; height:350px; ">
            <h1>{{package.name}}</h1>
            <p>This is the front of the card. It contains important information. Please see overleaf for more details.</p></div>

        <div class="theback"><h1>Back of Card</h1><p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button>Submit</button></div>

      </div>
    </div>
    </div>

  </body> -->

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4" *ngFor="let couple of couples"><br><br>
                <div class="card">
                    <div class="face front">
                        <img class="card-img-top" [src]="couple.imgsrc" alt="Card image">
                        <h3><b>{{couple.name}}</b></h3>
                    </div>
                    <div class="face back">
                        <h3><b>{{couple.flipname}}</b></h3><br>
                        <p>{{couple.description}}</p>
                        <!-- <div class="link">
            <a href="#">Book</a>
        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4" *ngFor="let friend of friends"><br><br>
                <div class="card">
                    <div class="face front">
                        <img class="card-img-top" [src]="friend.imgsrc" alt="Card image">
                        <h3><b>{{friend.name}}</b></h3>
                    </div>
                    <div class="face back">
                        <h3><b>{{friend.flipname}}</b></h3><br>
                        <p>{{friend.description}}</p>
                        <!-- <div class="link">
            <a href="#">Book</a>
        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>