<!-- <app-navbar></app-navbar> -->
<!-- <app-home></app-home> -->
<!-- <app-signin></app-signin> -->
<!-- <app-signup></app-signup> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-cultures></app-cultures> -->
<!-- <app-kaali></app-kaali> -->
<!-- <app-adiyogi></app-adiyogi> -->
<!-- <app-pondicherry></app-pondicherry> -->
<!-- <app-places></app-places> -->
<!-- <app-friends></app-friends> -->
<app-family></app-family>
<!-- <app-signout></app-signout> -->
<router-outlet></router-outlet>