<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4" *ngFor="let family of families"><br><br>
                <div class="card">
                    <div class="face front">
                        <img class="card-img-top" [src]="family.imgsrc" alt="Card image">
                        <h3><b>{{family.name}}</b></h3>
                    </div>
                    <div class="face back">
                        <h3><b>{{family.flipname}}</b></h3><br>
                        <p>{{family.description}}</p>
                        <!-- <div class="link"><a href="#">Book</a>
        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>