<body>
<div class="register-container">
    <h2>Registration</h2>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)" novalidate>

        <div class="form-group">
            <!-- <label for="firstName">FirstName</label> -->
            <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
        </div>

        <div class="form-group">
            <!-- <label for="lastName">LastName</label> -->
            <input type="text" id="lastName" name="lastName" placeholder="LastName" ngModel required>
        </div>
        <!-- <div class="form-group">
            <select id="gender" name="gender" [(ngModel)]="formData.gender" required>
                <option value="" disabled selected>Select Gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Others">Others</option>
            </select>
        </div> -->

        <div class="form-group">
            <select for="gender" id="gender" name="gender" placeholder="gender" ngModel required>
                <option value="Female" >Female</option>
                <option value="Male" >Male</option>
                <option value="Others">Others</option>
            </select>
        </div>

        <div class="form-group">
            <!-- <label for="dateOfBirth">Date of Birth:</label> -->
            <input type="date" id="dateOfBirth" name="dateOfBirth" ngModel required>
        </div>

        <!-- <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" ngModel required>
        </div> -->

            <div class="form-group">
              <!-- <label for="phoneNumber">Phone Number</label> -->
              <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="formData.phoneNumber" #phoneNumber="ngModel"
                     required pattern="^[+91][6-9]\d{11}$">
              <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                <div *ngIf="phoneNumber.errors?.['required']">Phone number is required</div>
                <div *ngIf="phoneNumber.errors?.['pattern']">Please enter a valid 10-digit phone number</div>
              </div>
            </div>

            <div class="form-group">
                <!-- <label for="emailId">Email</label> -->
                <input type="email" id="emailId" name="emailId" placeholder="EmailId" [(ngModel)]="formData.emailId" #emailId="ngModel"
                required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
                  <div *ngIf="emailId.errors?.['required']">Email is required</div>
                  <div *ngIf="emailId.errors?.['pattern']">Please enter a valid email address</div>
                </div>
              </div>

        <div class="form-group">
            <!-- <label for="address">Address:</label> -->
            <input type="text" id="address" name="address" placeholder="Address" ngModel required>
        </div>

        <div class="form-group">
            <!-- <label for="city">City:</label> -->
            <input type="text" id="city" name="city" placeholder="City" ngModel required>
        </div>

        <div class="form-group">
            <!-- <label for="state">State:</label> -->
            <input type="text" id="state" name="state" placeholder="State" ngModel required>
        </div>

        <div class="form-group">
            <!-- <label for="pinCode">Pincode:</label> -->
            <input type="text" id="pinCode" name="pinCode" placeholder="Pincode" ngModel required>
        </div>

        <div class="form-group">
            <!-- <label for="password">Password</label> -->
            <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="formData.password" #password="ngModel"
                   required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                   <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['required']">Password is required</div>
                    <div *ngIf="password.errors?.['minlength']">Password must be at least 8 characters long</div>
                    <div *ngIf="password.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character</div>
                </div>
            </div>
        

        <div class="form-group">
            <!-- <label for="confirmPassword">Confirm Password:</label> -->
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="formData.confirmPassword" #confirmPassword="ngModel">
            <div *ngIf="confirmPassword.errors?.['required']">Password must be same</div>
        </div>

        <div class="captcha">
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
            </ngx-recaptcha2>
        </div><br>

        <button type="submit">Register</button> &nbsp;
        New User? <a href="login" target="_blank">SignIn</a>
    </form>
</div>
</body>