<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/images/pngegg.png" alt="Logo" style="height: 70px; width: 70px;">
    <a class="navbar-brand" href="#">DREAM DESTINY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="home">Home</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="signin">SignIn</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="signup">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="cart">WishList</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="aboutus" >About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [class.disabled]="!loginStatus" routerLink="signout" >Logout</a>
              </li>
          </ul>
        </div>
      
    </nav>