<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4" *ngFor="let friend of friends"><br><br>
                <div class="card">
                    <div class="face front">
                        <img class="card-img-top" [src]="friend.imgsrc" alt="Card image">
                        <h3><b>{{friend.name}}</b></h3>
                    </div>
                    <div class="face back">
                        <h3><b>{{friend.flipname}}</b></h3><br>
                        <p>{{friend.description}}</p>
                        <!-- <div class="link"><a href="#">Book</a>
        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>