* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('https://media.istockphoto.com/id/1367756031/vector/light-blue-watercolor-background-illustration.jpg?s=612x612&w=0&k=20&c=qiJl7j-2terwHd-1YJxiFIo1VJx6l6IsmoqlgeypQ7c='); 
    background-size: cover;
    background-position: center;
    /* background-color: aqua; */
    /* margin-left: 8%; */
}

.card {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 20px;
    border-radius: 15px;
    margin-left: 15%;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #efecec;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card .front h3 {
    position: absolute;
    bottom: 45%;
    width: 100%;
    height: 60px;
    line-height: 45px;
    text-shadow: 2px 2px black;
    color: #fff;
    /* background: rgba(0,0,0,.4); */
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(239, 241, 243);
    padding: 15px;
    color: #1c1a1a;
    display: flex;
    flex-direction: column;
    justify-self: space-between;
    text-align: justify;
    box-shadow: 0 5px 10px #000;
}

/* .card .back .link{
        border-top: solid 1px #191717;
        height: 50px;
        line-height: 50px;
    } */

/* .card .back .link a {
        color: #0d0a0a;
        text-align: center;
    } */
    
.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}